In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
csvpath = Path('C:/Users/srava/Project_2/data/ESG_Data_Cleaned.csv')

In [3]:
esg_df = pd.read_csv(csvpath, index_col='Year')

In [4]:
esg_df

,Country Name,Country Code,"Agriculture, forestry, and fishing, value added (% of GDP)","Fertility rate, total (births per woman)","Life expectancy at birth, total (years)","Mortality rate, under-5 (per 1,000 live births)",Population ages 65 and above (% of total population),CO2 emissions (metric tons per capita)
Year,,,,,,,,
1960,Australia,AUS,NaN,3.453000,70.817073,24.8,8.610618,8.582937
1961,Australia,AUS,NaN,3.540000,70.973171,24.3,8.630204,8.641569
1962,Australia,AUS,NaN,3.442000,70.942439,23.7,8.640327,8.835688
1963,Australia,AUS,NaN,3.332000,70.911707,23.2,8.642495,9.226440
1964,Australia,AUS,NaN,3.146000,70.880976,22.7,8.635085,9.759073
...,...,...,...,...,...,...,...,...
2017,World,WLD,NaN,2.428188,72.385920,NaN,8.645989,4.441309
2018,World,WLD,NaN,2.415986,72.568658,NaN,8.873451,4.483524
2019,World,WLD,NaN,2.402707,72.741689,NaN,9.098597,NaN
2020,World,WLD,NaN,NaN,NaN,NaN,9.317803,NaN
2050,World,WLD,NaN,NaN,NaN,NaN,15.847378,NaN

In [5]:
esg_df = esg_df.drop(['Agriculture, forestry, and fishing, value added (% of GDP)','Mortality rate, under-5 (per 1,000 live births)','Country Code'],axis=1)
esg_df

,Country Name,"Fertility rate, total (births per woman)","Life expectancy at birth, total (years)",Population ages 65 and above (% of total population),CO2 emissions (metric tons per capita)
Year,,,,,
1960,Australia,3.453000,70.817073,8.610618,8.582937
1961,Australia,3.540000,70.973171,8.630204,8.641569
1962,Australia,3.442000,70.942439,8.640327,8.835688
1963,Australia,3.332000,70.911707,8.642495,9.226440
1964,Australia,3.146000,70.880976,8.635085,9.759073
...,...,...,...,...,...
2017,World,2.428188,72.385920,8.645989,4.441309
2018,World,2.415986,72.568658,8.873451,4.483524
2019,World,2.402707,72.741689,9.098597,NaN
2020,World,NaN,NaN,9.317803,NaN
2050,World,NaN,NaN,15.847378,NaN

In [6]:
esg_df = esg_df.dropna()

In [7]:
esg_df

,Country Name,"Fertility rate, total (births per woman)","Life expectancy at birth, total (years)",Population ages 65 and above (% of total population),CO2 emissions (metric tons per capita)
Year,,,,,
1960,Australia,3.453000,70.817073,8.610618,8.582937
1961,Australia,3.540000,70.973171,8.630204,8.641569
1962,Australia,3.442000,70.942439,8.640327,8.835688
1963,Australia,3.332000,70.911707,8.642495,9.226440
1964,Australia,3.146000,70.880976,8.635085,9.759073
...,...,...,...,...,...
2014,World,2.465561,71.741978,8.054818,4.560774
2015,World,2.456229,71.947477,8.223033,4.488770
2016,World,2.445609,72.181171,8.426877,4.436759
2017,World,2.428188,72.385920,8.645989,4.441309
2018,World,2.415986,72.568658,8.873451,4.483524

In [8]:
# new_esg = esg_df.copy()

# #Transform data
# new_esg['Fertility rate, total (births per woman)']=new_esg['Fertility rate, total (births per woman)']/100
# new_esg['Life expectancy at birth, total (years)']=new_esg['Life expectancy at birth, total (years)']/100
# new_esg['Population ages 65 and above (% of total population)'] = new_esg['Population ages 65 and above (% of total population)']/100

In [9]:
# new_esg

In [10]:
def location_filter(location_name):
    new_df = esg_df[esg_df['Country Name']==f'{location_name}']
    return(new_df)

In [11]:
australia_df=[]
caribbean_small_sts_df = []
central_african_republic_df = []
central_europe_baltics_df = []
east_asia_pacific_df = []
europe_central_asia_df = []
latin_america_caribbean_df = []
middle_east_north_africa_df = []
north_america_df = []
sub_saharan_africa_df = []
world_df = []

australia_df = location_filter('Australia')
caribbean_small_sts_df = location_filter('Caribbean small states')
central_african_republic = location_filter('Central African Republic')
central_europe_baltics = location_filter('Central Europe and the Baltics')
east_asia_pacific = location_filter('East Asia & Pacific')
europe_central_asia = location_filter('Europe Central Asia')
latin_america_caribbean = location_filter('Latin America & Caribbean')
middle_east_north_africa = location_filter('Middle East & North Africa')
north_america = location_filter('North America')
sub_saharan_africa = location_filter('Sub-Saharan Africa')
world = location_filter('World')

In [12]:
australia_df

,Country Name,"Fertility rate, total (births per woman)","Life expectancy at birth, total (years)",Population ages 65 and above (% of total population),CO2 emissions (metric tons per capita)
Year,,,,,
1960,Australia,3.453,70.817073,8.610618,8.582937
1961,Australia,3.540,70.973171,8.630204,8.641569
1962,Australia,3.442,70.942439,8.640327,8.835688
1963,Australia,3.332,70.911707,8.642495,9.226440
1964,Australia,3.146,70.880976,8.635085,9.759073
1965,Australia,2.977,70.850244,8.618688,10.622321
1966,Australia,2.881,70.819512,8.543412,10.328092
1967,Australia,2.848,70.869268,8.461122,10.955625
1968,Australia,2.888,70.919024,8.378430,11.210168
1969,Australia,2.886,70.968780,8.303780,11.600554
1970,Australia,2.859,71.018537,8.243893,11.802891
1971,Australia,2.961,71.068293,8.345745,11.809118
1972,Australia,2.744,71.457561,8.441925,11.951632
1973,Australia,2.491,71.846829,8.540400,12.779687
1974,Australia,2.397,72.236098,8.652743,12.559669
1975,Australia,2.148,72.625366,8.785702,12.659900
1976,Australia,2.060,73.014634,8.937622,12.416792
1977,Australia,2.007,73.344390,9.117670,13.231896
1978,Australia,1.949,73.674146,9.308300,14.069859
1979,Australia,1.907,74.003902,9.481558,14.129092
1980,Australia,1.891,74.333659,9.623780,15.024916
1981,Australia,1.935,74.663415,9.782122,15.432501
1982,Australia,1.929,74.904878,9.894377,15.424932
1983,Australia,1.924,75.146341,9.986337,14.640084
1984,Australia,1.840,75.387805,10.095437,15.220975
1985,Australia,1.923,75.629268,10.240517,15.308410
1986,Australia,1.868,75.870732,10.378467,14.980573
1987,Australia,1.845,76.151707,10.545061,15.746958
1988,Australia,1.831,76.432683,10.725521,15.796168
1989,Australia,1.838,76.713659,10.899199,16.519863
1990,Australia,1.902,76.994634,11.058750,15.446730
1991,Australia,1.849,77.275610,11.256449,15.315321
1992,Australia,1.888,77.378049,11.435170,15.339240
1993,Australia,1.859,77.878049,11.593804,15.416313
1994,Australia,1.842,77.878049,11.733548,15.607393
1995,Australia,1.822,77.829268,11.857057,15.992143
1996,Australia,1.796,78.078049,11.965803,16.361204
1997,Australia,1.778,78.480488,12.059331,16.566938
1998,Australia,1.762,78.631707,12.143463,17.511624
1999,Australia,1.755,78.931707,12.227982,17.596957
2000,Australia,1.756,79.234146,12.323674,17.689657
2001,Australia,1.739,79.634146,12.415305,17.769536
2002,Australia,1.756,79.936585,12.515922,17.957499
2003,Australia,1.748,80.239024,12.626891,17.692029
2004,Australia,1.768,80.490244,12.745582,18.147898
2005,Australia,1.807,80.841463,12.871124,18.117854
2006,Australia,1.908,81.041463,12.926600,18.120679
2007,Australia,1.959,81.292683,12.981929,18.502852
2008,Australia,1.984,81.395122,13.058739,18.283041
2009,Australia,1.971,81.543902,13.185654,18.207425
2010,Australia,1.928,81.695122,13.376556,17.581445
2011,Australia,1.926,81.895122,13.630308,17.268110
2012,Australia,1.920,82.046341,13.930288,16.969257
2013,Australia,1.855,82.148780,14.252657,16.398646
2014,Australia,1.826,82.300000,14.565317,15.755876
2015,Australia,1.814,82.400000,14.854611,15.786449
2016,Australia,1.752,82.448780,15.141119,15.872080
2017,Australia,1.741,82.500000,15.404021,15.738647
2018,Australia,1.740,82.748780,15.656475,15.475516

Australia Analysis

In [13]:
#Separate the features (X) from the Target (Y)
y = australia_df['CO2 emissions (metric tons per capita)']
X = australia_df.drop(['CO2 emissions (metric tons per capita)', 'Country Name'], axis = 1)

In [14]:
X

,"Fertility rate, total (births per woman)","Life expectancy at birth, total (years)",Population ages 65 and above (% of total population)
Year,,,
1960,3.453,70.817073,8.610618
1961,3.540,70.973171,8.630204
1962,3.442,70.942439,8.640327
1963,3.332,70.911707,8.642495
1964,3.146,70.880976,8.635085
1965,2.977,70.850244,8.618688
1966,2.881,70.819512,8.543412
1967,2.848,70.869268,8.461122
1968,2.888,70.919024,8.378430
1969,2.886,70.968780,8.303780
1970,2.859,71.018537,8.243893
1971,2.961,71.068293,8.345745
1972,2.744,71.457561,8.441925
1973,2.491,71.846829,8.540400
1974,2.397,72.236098,8.652743
1975,2.148,72.625366,8.785702
1976,2.060,73.014634,8.937622
1977,2.007,73.344390,9.117670
1978,1.949,73.674146,9.308300
1979,1.907,74.003902,9.481558
1980,1.891,74.333659,9.623780
1981,1.935,74.663415,9.782122
1982,1.929,74.904878,9.894377
1983,1.924,75.146341,9.986337
1984,1.840,75.387805,10.095437
1985,1.923,75.629268,10.240517
1986,1.868,75.870732,10.378467
1987,1.845,76.151707,10.545061
1988,1.831,76.432683,10.725521
1989,1.838,76.713659,10.899199
1990,1.902,76.994634,11.058750
1991,1.849,77.275610,11.256449
1992,1.888,77.378049,11.435170
1993,1.859,77.878049,11.593804
1994,1.842,77.878049,11.733548
1995,1.822,77.829268,11.857057
1996,1.796,78.078049,11.965803
1997,1.778,78.480488,12.059331
1998,1.762,78.631707,12.143463
1999,1.755,78.931707,12.227982
2000,1.756,79.234146,12.323674
2001,1.739,79.634146,12.415305
2002,1.756,79.936585,12.515922
2003,1.748,80.239024,12.626891
2004,1.768,80.490244,12.745582
2005,1.807,80.841463,12.871124
2006,1.908,81.041463,12.926600
2007,1.959,81.292683,12.981929
2008,1.984,81.395122,13.058739
2009,1.971,81.543902,13.185654
2010,1.928,81.695122,13.376556
2011,1.926,81.895122,13.630308
2012,1.920,82.046341,13.930288
2013,1.855,82.148780,14.252657
2014,1.826,82.300000,14.565317
2015,1.814,82.400000,14.854611
2016,1.752,82.448780,15.141119
2017,1.741,82.500000,15.404021
2018,1.740,82.748780,15.656475

In [15]:
#Split our data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size = 0.25,
                                                    random_state = 42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(44, 3) (15, 3) (44,) (15,)

In [16]:
from sklearn.preprocessing import StandardScaler
#Initiate StandardScaler Instance. Fit the data and scale the data

scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)