In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
#Read in CSV Data
from pathlib import Path

csvpath = Path('C:/Users/Myles/Documents/GitHub/Project2/ESG_Data_Cleaned.csv')
df = pd.read_csv(csvpath)
df.head()

,Year,Country Name,Country Code,"Agriculture, forestry, and fishing, value added (% of GDP)","Fertility rate, total (births per woman)","Life expectancy at birth, total (years)","Mortality rate, under-5 (per 1,000 live births)",Population ages 65 and above (% of total population),CO2 emissions (metric tons per capita)
0,1960,Australia,AUS,NaN,3.453000,70.817073,24.8,8.610618,8.582937
1,1960,Caribbean small states,CSS,NaN,5.600340,62.746306,NaN,4.136085,1.401336
2,1960,Central African Republic,CAF,NaN,5.840000,36.249000,283.1,4.998109,0.058607
3,1960,Central Europe and the Baltics,CEB,NaN,2.497094,67.821389,NaN,7.214899,5.228903
4,1960,East Asia & Pacific,EAS,NaN,5.393637,48.429121,NaN,3.865390,1.182973

In [3]:
australia = []
caribbean_small_sts = []
central_african_republic = []
central_europe_baltics = []
east_asia_pacific = []
europe_central_asia = []
latin_america_caribbean = []
middle_east_north_africa = []
north_america = []
sub_saharan_africa = []
world = []

In [4]:
# Drop Null Columns
df = df.dropna(axis=1)
df = df.drop(['Country Code'],axis=1)
df.head()

,Year,Country Name,"Fertility rate, total (births per woman)","Life expectancy at birth, total (years)",Population ages 65 and above (% of total population),CO2 emissions (metric tons per capita)
0,1960,Australia,3.453000,70.817073,8.610618,8.582937
1,1960,Caribbean small states,5.600340,62.746306,4.136085,1.401336
2,1960,Central African Republic,5.840000,36.249000,4.998109,0.058607
3,1960,Central Europe and the Baltics,2.497094,67.821389,7.214899,5.228903
4,1960,East Asia & Pacific,5.393637,48.429121,3.865390,1.182973

In [5]:
def location_filter(location_name):
    new_df = df[df['Country Name']==f'{location_name}']
    return(new_df.head())

australia_df = location_filter('Australia')
caribbean_small_sts_df = location_filter('Caribbean small states')
central_african_republic = location_filter('Central African Republic')
central_europe_baltics = location_filter('Central Europe and the Baltics')
east_asia_pacific = location_filter('East Asia & Pacific')
europe_central_asia = location_filter('Europe Central Asia')
latin_america_caribbean = location_filter('Latin America & Caribbean')
middle_east_north_africa = location_filter('Middle East & North Africa')
north_america = location_filter('North America')
sub_saharan_africa = location_filter('Sub-Saharan Africa')
world = location_filter('World')

## Separate the Features (X) from the Target (Y)

In [6]:
x = australia_df.drop(['CO2 emissions (metric tons per capita)','Country Name'],axis=1)
y = australia_df["CO2 emissions (metric tons per capita)"]

x.head()

,Year,"Fertility rate, total (births per woman)","Life expectancy at birth, total (years)",Population ages 65 and above (% of total population)
0,1960,3.453,70.817073,8.610618
11,1961,3.540,70.973171,8.630204
22,1962,3.442,70.942439,8.640327
33,1963,3.332,70.911707,8.642495
44,1964,3.146,70.880976,8.635085

In [7]:
# Create Features by transforming to values between 0-1
#def feature(statistic):
#    x[f"{statistic}"] = x[f"{statistic}"]/100
#    return(x.head())
#feature("Fertility rate, total (births per woman)")
#feature("Life expectancy at birth, total (years)")
#feature("Population ages 65 and above (% of total population)")

IndentationError: unexpected indent (<ipython-input-7-a6fa8353e311>, line 3)

## Split our data into training and testing

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.25, random_state=2)
x_train.shape

(3, 4)

In [11]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=2)
classifier

LogisticRegression(random_state=2)

In [12]:
classifier.fit(x_train, y_train)

ValueError: Unknown label type: 'continuous'